body{
    background-color: rgba(16, 16, 112, 0.432);
}

p{
    font-family: 'Times New Roman', Times, serif;
}

div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}